.dropdown-toggle {
  min-height: 38px;
}

.dropdown-toggle::after {
  position: absolute;
  right: 10px;
  top: 45%;
}

.select-clear-button {
  height: 20px;
  width: 20px;
  margin-left: -60px;
  z-index: 100;
  color: #303030;
  opacity: 1;
  transform: scale(1);
}
.select-clear-button i {
  opacity: 1;
  transform: scale(1);
  transition: transform .1s ease, opacity .3s ease;
  transform-origin: center;
}
.select-clear-button svg {
  opacity: 1;
  transform: scale(1);
  transition: transform .1s ease, opacity .3s ease;
  transform-origin: center;
}

.select-clear-button:hover i {
  transform: scale(1.1);
}
.select-clear-button:hover svg {
  transform: scale(1.1);
}

.select-clear-button:active i {
  opacity: 0.3;
  transform: scale(1);
}
.select-clear-button:active svg {
  opacity: 0.3;
  transform: scale(1);
}

.select-clear-button:focus,.select-clear-button:active:focus,
.select-clear-button.active:focus,.select-clear-button.focus,
.select-clear-button:active.focus,.select-clear-button.active.focus {
  outline: none;
  box-shadow: none;
}